{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>🍔Page de gestion des ingredients🍔</h1>
    <h2><small><a href="{{ path('IngredientAjouter')}}">Ajouter</a></small></h2>

    <div class="flex flex-column">
        <div class="my-4">
            {% for ingredient in ingredients %}
                <h5>{{ingredient.libelle | upper}}:</h5>
                <a class="btn btn-success" href="{{ path('IngredientDetails', {'id': ingredient.id }) }}" >Details</a>
                <ul>
                    <li><strong>quantite:</strong> {{ingredient.quantite}}</li>
                    <li><strong>cout:</strong> {{ingredient.cout}}</li>
                </ul>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
